.wrapper
  .contents-left
    .header
      .header-box
        %h3.header-name
          = current_user.name
        %ul.header-tabs
          %li.edit-tab
            = link_to do
              = fa_icon 'edit'
          %li.create-tab
            = link_to edit_user_path(current_user) do
             = fa_icon 'cog'
    .groups
      .group-box
        .group-name
          test
        .comment
          test
      .group-box
        .group-name
          test
        .comment
          test
      .group-box
        .group-name
          test
        .comment
          test
      .group-box
        .group-name
          test
        .comment
          test
      .group-box
        .group-name
          test
        .comment
          test
      .group-box
        .group-name
          test
        .comment
          test
      .group-box
        .group-name
          test
        .comment
          test
      .group-box
        .group-name
          test
        .comment
          test
  .contents-right
    .header
      .group-name
        test
      .members-box
        %ul.member-tag
          Member : 
        .members
          yAmAdA
      %button.header-edit
        Edit
    .chat
      .chat-box
        .chat-name-box
          .name
            yAmAdA
          .dates
            2019/09/08(sun) 00:00:00
        .message
          こんにちは
      .chat-box
        .chat-name-box
          .name
            yAmAdA
          .dates
            2019/09/08(sun) 00:00:00
        .message
          こんにちは
      .chat-box
        .chat-name-box
          .name
            yAmAdA
          .dates
            2019/09/08(sun) 00:00:00
        .message
          こんにちは
      .chat-box
        .chat-name-box
          .name
            yAmAdA
          .dates
            2019/09/08(sun) 00:00:00
        .message
          こんにちは
      .chat-box
        .chat-name-box
          .name
            yAmAdA
          .dates
            2019/09/08(sun) 00:00:00
        .message
          こんにちは
    .footer
      .footer-box
        %form{class: :form ,action: :/, method: :post}
          %input{class: :formbox, type: :text, text: :text, placeholder: "type a message", required: :true}                
            = fa_icon "image", class: 'image-box'
        %buttom.footer-send
          Send


